
header h5 {
  color: #0E2745;
  margin-top: 0;
  font-size: 1em; }

.col-md-8 {
  color: #0E2745;
  text-align: left;
  padding-top: 50px; }

.col-md-8 h1 {
  text-transform: uppercase;
  color: black;
  font-size: 3em;
  margin-bottom: 10px; }

.col-md-8 .author {
  color: #0E2745;
  margin-top: 0;
  font-size: 1em; }

.col-md-8 blockquote {
  text-align: center;
  color: #013ADF; }
