
.img-circle {
  height: 30px;
  width: 30px;
  }

.sweet_jump {
  height: 80%;
  width: 90%;
  }

.col-md-4 {
  padding: 10px;
  text-align: center;
  color: #A4A4A4;
  }

.col-md-4 p {
  text-align: left;
  }

.col-md-4 h6 {
  text-align: left;
  color: #013ADF;
  }

.col-md-4 .img-circle {
  height: 75px;
  width: 75px;
  }
